*{
	font-family: 'Open Sans', sans-serif; 
}
.fondo-header{
	background-color: black;
}
.titulo{
	color: white;
	font-size: 30px;
}
span{
	font-weight: 600;
}
li{
	display: inline-block;
}

a:hover{
	color: pink;
}
.fondo-blanco{
	background-color: white;
}
.boton-read{
	background-color: gray;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	padding-top: 10px;
	padding-left: 19px;
	margin-top: 30px;
}
.latest:hover{
	color: #2e2e2e;
	font-weight: 600;
}
