.gentleman{
	font-family: 'Candal';
}
	.letra{
	font-family: 'Arvo';
}
.letra2{
	font-family: 'Poppins';
}
.size{
	font-size: 13px;
}
.fondo-header{
	background-color: #424242;
}
.titulo{
	font-size: 30px;
	font-family: 'Open Sans Condensed'
}
span{
	font-weight: 600;
}
li{
	display: inline-block;
}

a:hover{
	color: #FF0080;
}
.iconos{
	font-size: 15px;
	padding-top: 15px;
}
.fondo-blanco{
	background-color: white;
}
.boton-read{
	background-color: gray;
	width: 120px;
	height: 40px;
	border-radius: 20px;
	padding-top: 10px;
	padding-left: 19px;
	margin-top: 30px;
}
.latest:hover{
	color: #2e2e2e;
	font-weight: 600;
}
.boton-load{
	background-color: gray;
	width: 150px;
	height: 40px;
	border-radius: 20px;
	padding-top: 10px;
	padding-left: 5px;
	margin-top: 30px;
}
.boton-follow{
	background-color: gray;
	width: 80px;
	height: 30px;
	border-radius: 10px;
	padding-top: 5px;
	padding-left: 15px;
	margin-top: 30px;
}
.liga1{
	color: #FF0080;
}
.menu-footer{
	display: block;
	margin-left:80px;
}
